@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --color-background: #fbf1e4;
  --color-primary: #d9502c;
  --color-secondary: #e3a72b;
  --font-display: var(--font-fraunces), serif;
}

.field {
  @apply block m-2;
}
